# MacOS files
.DS_Store

# IDE files
.idea/
.vscode/

# Java class files
*.class

# C++ files
*.dll
*.exe
*.o
*.so
wio/quietquest/credentials.cpp
wio/quietquest/credentials.h

# Log files
*.log

# Environment files
.env
.env.local

# Build files
build/

# Gradle files
.gradle/
gradle
