/*
This file defines global css styles for the application.
*/

.label-all-green {
    /* sets button as green to show all OK */
    -fx-border-color: darkgreen;
    -fx-border-width: 3;

    -fx-background-color: #c8f59a;
}

.label-all-red {
    /* sets button as green to show all OK */
    -fx-border-color: darkred;
    -fx-border-width: 3;

    -fx-background-color: #e68281;
}