/*
This file defines global css styles for the application.
*/

/*--------------------* Styling for Labels *--------------------*/

.label-all-green {
    -fx-border-color: darkgreen;
    -fx-border-width: 3;

    -fx-background-color: #c8f59a;
}

.label-all-red {
    -fx-border-color: darkred;
    -fx-border-width: 3;

    -fx-background-color: #e68281;
}

.label-all-yellow {
    -fx-border-color: goldenrod;
    -fx-border-width: 3;

    -fx-background-color: gold;
}

/*--------------------* Styling for Buttons *--------------------*/

.side-menu-button, .general-button {
    -fx-background-color: linear-gradient(to bottom, #79dbb1, #57CC99 100%);

    -fx-border-color: #39a878;
    -fx-border-width: 1;

    /* Ensures borders are curved */
    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 15, 0.1, 0, 5);

    -fx-text-fill: #22577A;
    -fx-font-family: "American Typewriter";
    -fx-font-size: 18;
}

.side-menu-button:hover, .general-button:hover {
    -fx-background-color: linear-gradient(to bottom, #40bdbf, #319294 100%);
    -fx-text-fill: #22577A;
    -fx-font-family: "American Typewriter";
    -fx-font-size: 19;
}

.side-menu-button:selected {
    -fx-background-color: linear-gradient(to bottom, #40bdbf, #319294 100%);
    -fx-text-fill: #22577A;
    -fx-font-family: "American Typewriter";
    -fx-font-size: 19;
}

.login-button {
    -fx-background-color: linear-gradient(to bottom, #79dbb1, #57CC99 100%);

    -fx-border-color: #39a878;
    -fx-border-width: 1;

    /* Ensures borders are curved */
    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 15, 0.1, 0, 5);

    -fx-text-fill: #22577A;
    -fx-font-family: "American Typewriter";
    -fx-font-size: 32;
}

.login-button:hover {
    -fx-background-color: linear-gradient(to bottom, #40bdbf, #319294 100%);
    -fx-text-fill: #22577A;
    -fx-font-family: "American Typewriter";
    -fx-font-size: 34;
}

.special-button {
    -fx-background-color: linear-gradient(to bottom, #40bdbf, #319294 100%);

    -fx-border-width: 1;

    /* Ensures borders are curved */
    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 15, 0.1, 0, 5);

    -fx-text-fill: #22577A;
    -fx-font-family: "American Typewriter";
    -fx-font-size: 26;
}

.special-button:hover {
    -fx-background-color: linear-gradient(to bottom, #3baeb0, #2c8385 100%);
    -fx-text-fill: #22577A;
    -fx-font-family: "American Typewriter";
    -fx-font-size: 28;
}

.confirmation-button {
    -fx-background-color: linear-gradient(to bottom, #40bdbf, #319294 100%);

    -fx-border-width: 1;

    /* Ensures borders are curved */
    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 15, 0.1, 0, 5);

    -fx-text-fill: #22577A;
    -fx-font-family: "American Typewriter";
    -fx-font-size: 16;
}

.confirmation-button:hover {
    fx-background-color: linear-gradient(to bottom, #3baeb0, #2c8385 100%);
    -fx-text-fill: #22577A;
    -fx-font-family: "American Typewriter";
    -fx-font-size: 18;
}

.settings-button, .help-button {
    -fx-background-color: linear-gradient(to bottom, #e3f7e5, #c3d6c6 100%);
    -fx-border-color: #a9b8ab;
    -fx-text-fill: #22577A;

    /* Ensures corners are curved */
    -fx-background-radius: 8;
    -fx-border-radius: 8;

    /* Font style */
    -fx-font-family: "American Typewriter";
    -fx-font-size: 17;
}

.button-all-green {
    -fx-border-color: darkgreen;
    -fx-border-width: 3;

    -fx-background-color: #c8f59a;
}

/*--------------------* Styling for Tabs *--------------------*/

.tab-pane {
    -fx-tab-min-height: 30px;
    -fx-tab-min-width: 80px;
}

.tab {
    -fx-background-color: linear-gradient(to bottom, #79dbb1, #57CC99 100%);

    -fx-border-color: #39a878;
    -fx-border-width: 1;

    /* Ensures borders are curved */
    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 15, 0.1, 0, 5);

    -fx-text-fill: #22577A;
    -fx-font-family: "American Typewriter";
}

.tab:selected {
    -fx-background-color: linear-gradient(to bottom, #40bdbf, #319294 100%);
    -fx-text-fill: #22577A;
    -fx-font-family: "American Typewriter";
}

.tab:hover {
    -fx-background-color: linear-gradient(to bottom, #40bdbf, #319294 100%);
    -fx-text-fill: #22577A;
    -fx-font-family: "American Typewriter";
}

.tab-header-area .tab-header-background {
    -fx-background-color: #ffffff; /* Background for the header background */
}

.tab-content-area {
    -fx-background-color: #ffffff; /* Background for the content area */
}

.tab-pane {
    -fx-background-color: #000000; /* Top and bottom borders around TabPane*/
}

/* Styling for alert dialog window */
.dialog-pane {
    -fx-font-size: 14px;
    -fx-background-color: #C7F9CC;
}

.dialog-pane .info-text {
    -fx-font-size: 31px;
    -fx-font-family: "American Typewriter";
    -fx-background-color: #C7F9CC;
}

.dialog-pane .small-text {
    -fx-font-size: 19px;
    -fx-font-family: "American Typewriter";
    -fx-background-color: #C7F9CC;
}

.dialog-pane .button {
    -fx-background-color: linear-gradient(to bottom, #79dbb1, #57CC99 100%);

    -fx-border-color: #39a878;
    -fx-border-width: 1;

    /* Ensures borders are curved */
    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 15, 0.1, 0, 5);

    -fx-text-fill: #22577A;
    -fx-font-family: "American Typewriter";
    -fx-font-size: 18;
}

.dialog-pane .button:hover {
    -fx-background-color: linear-gradient(to bottom, #40bdbf, #319294 100%);
    -fx-text-fill: #22577A;
}

.dialog-pane .content {
    -fx-font-size: 16px;
    -fx-background-color: #C7F9CC;
}

.dialog-pane .header-panel {
    -fx-font-size: 20px;
    -fx-background-color: #C7F9CC;
}

/*--------------------* Styling for ListViews *--------------------*/

/* Custom ListView styling, mainly removing the alternating row colors */
.list-cell:odd, .list-cell:even {
    -fx-background: white;
}

/*--------------------* Styling for charts *-----------------------*/

.vbox-chart, .xychart {
    -fx-background-color: #C7F9CC;
}

.charts {
    -fx-background-color: linear-gradient(to bottom, #79dbb1, #57CC99 100%);
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.background-pane {
    -fx-background-image: url("images/questPage_background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
